<h1>Fruit management</h1>

<div class="row">
  <div class="col-md-5">

    <form class="form-inline">
        {{input class="form-control" value=newFruit.name placeholder="Fruit Name"}}
        {{input class="form-control" value=newFruit.price placeholder="Fruit Price"}}
      <button type="submit" {{action 'addFruit' newFruit}} class="btn btn-default">Add</button>
    </form>

    <div class="list-group">
      {{#each model as |fruit|}}
        {{#link-to "fruits.fruit" fruit class="list-group-item"}}{{fruit.name}}{{/link-to}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-7">
    {{outlet}}
  </div>
</div>


